.App {
  text-align: center;
}

.flexCenter {
  display: flex;
  justify-content: center;
}
.flexColumn {
  flex-direction: column;
}

.delayTypeInfo {
  color: green;
}
.delayTypeInfoWrapper {
  padding-bottom: 12px;
}

.chButton {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}


/*chart*/
.chartTitle {
  fill: grey;
  font-weight: bold;
}

.chartXAxisLabel {
  fill: grey;
  font-weight: bold;
}

.chartYAxisLabel {
  fill: grey;
  font-weight: bold;
}

.horizontalGrid {
  stroke: lightgrey;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 50%;
  padding-bottom: 30%;
  vertical-align: top;
  overflow: hidden;
}

.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.overlay {
  opacity: 0;
}